@charset "utf-8";
/* CSS Document */
#user_widget{
    width :300px;
    height: 300px;
    padding: 5px;
}

#form_text{
    position: relative;
    margin-left: 40px;
    
  
}
#personal_settings{
    border : 3px solid greenyellow ;
    width: 300px;
}
#input_box{
    display: block;
    width: 100px;
    height: 10px;
    padding: 10px;
    margin-left: 100px;
    border: 1px solid #cccccc;
  
    font-size: 13px;

    
}
#textbox{

    display: block;
    width: 400px;
    height: 120px;
    padding: 20px;
    margin-left: 20px;
    border: 1px solid #cccccc;
    line-height: 130%;
    font-size: 13px;

}
#settings{

   

}

#profile_photo{
    
}
#profile_head{
    font-size: 30px;
    padding: 25px 20px;

}

#details{
    display: block;
    width: 100%;
    font-size: 15px;
}

#bio{
    display: block;
    width: 90%;
    background: greenyellow;
    padding: 25px 20px;
    font-size: 13px;

}
#content {
    display: block;
    width: 60%;
    background: #fff;
    padding: 25px 20px;
    padding-bottom: 35px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

#userphoto {
    display: block;
    float: left;
    margin-left: 10px;
    margin-bottom: 8px;
    margin-right: 8px;

}
#userphoto img {
    display: block;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}

img {
    width:100px;
}
/* Resets */


ul {
    padding:0;
    margin:0 0 20px 0;
    list-style:none;
}
h1, h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
}
p {
    padding:0;
    margin:0 0 20px 0;
}
a:link, a:visited {
    text-decoration:underline;
    color:#000;
}
a:hover {
    text-decoration:none;
}
ul li {
    padding:5px 0;
}
ul li input[type="text"], ul li input[type="password"] {
    width:200px;
}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
}
.logo {
    font:2em Arial;
    width:300px;
    color:#fff;
}
/* Containers */
body {
    background:teal;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-size:0.8em;
}
#container, footer {
    background:#fff;
    height:600px;
    width:920px;
    margin:0 auto;
    padding:20px;
}
header {
    width:940px;
    padding:10px;
    margin:0 auto 10px auto;
}
#container {
    min-height:500px;
    border-radius:5px 5px 0 0;
}
footer {
    border-radius:0 0 5px 5px;
}
.widget {
    margin-bottom:20px;

}
.widget h2 {
    margin:0 0 10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;

}
.widget .inner {
    margin:0 10px;
}
/* Navigation */
nav {
    float:left;
}
nav ul {
    margin:0;
}
nav ul li {
    display:inline;
    margin-right:10px;
}
nav ul li a {
    text-decoration:none;
}
nav ul li.current {
    font-weight:bold;
}
nav ul li a.last {
    border-right:0;
}
/* Aside */
aside {
    width:260px;
    float:right;
    border-left:1px dashed #aaa;
    padding-left:15px;
}
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
footer {
    border-top:1px dashed #ddd;
    color:#999;
}
/* Misc */
.clear {
    clear:both;
}/* CSS Document */

dd {
    margin-left: 1.5em;
}

#more_info * {
    xdisplay: inline-block;
}

#more_info dd, #more_info dt {
    border: 1px solid black;
    padding: 1em;
    margin: 0;
}
#more_info {
    display: none;
}
#more_info dt {
    float: left; 
    width: 25%;    
}


table.styletable{
    font-family: verdana,arial,sans-serif;

    font-size: 14px;
}
table.styletable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}
table.styletable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
    font-size: 14px;
}